.main form {
    padding: 3%;
    font-size: 14px;
}

.bordermain {
    border: 1px solid white;
    border-radius: 5px;
    margin: 0% 2% 2% 2%;
    background-color: #fff;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,0.1);
}

.icon-box i {
    font-size: 45px;
    color: #1a145b;
}

.main .head {
    text-align: center;
    padding: 2% 0% 0% 0%;
    font-size: 16px;
    font-weight: bold;
}

.breadcrumb {
    background-color: #f5f5f5;
    font-size: 14px;
    padding: 1% 0% 0% 2% ;
}

.breadcrumb a {
    color: gray;
}

.main .head {
    text-align: center;
    padding: 2% 0% 0% 0%;
    font-size: 15px;
    font-weight: bold;
}

.title {
    background-color: #1a145b;
    color: white;
    padding: 6px;
}

.require::after {
    content: "*";
    color: red;
}
.button {
    text-align: right;
}

.button button {
    padding: 0.8% 2%;
}